In [1]:
#Python|Pandas DataFrame.dropna()

In [2]:
#Syntax : df.dropna(axis=0, thresh=None, subset=None, inplace=Flase)

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("data.csv")

new_data = data.dropna(axis = 0, how = 'any')
print("Old data frame length:", len(data), 
      "\nNew data frame length:", len(new_data),
      "\nNumber of rows with at least 1 NA value: ", (len(data)-len(new_data)))

Old data frame length: 50
New data frame length: 50
Number of rows with at least 1 NA value:  0

In [5]:
data = pd.read_csv("data.csv")

new = pd.read_csv("data.csv")

new["Null Column"]= None

print(" -->",data.columns.values, "\n\n","-->",new.columns.values)

print("\nColumn number before dropping Null column\n", len(data.dtypes), len(new.dtypes))

new.dropna(axis = 1, how ='all', inplace = True)

print("\nColumn number after dropping Null column\n", len(data.dtypes), len(new.dtypes))

 --> ['Rank' 'Username' 'Owner' 'Followers (millions)' 'Profession/Activity'
 'Country/Continent']

 --> ['Rank' 'Username' 'Owner' 'Followers (millions)' 'Profession/Activity'
 'Country/Continent' 'Null Column']

Column number before dropping Null column
 6 7

Column number after dropping Null column
 6 6

In [6]:
df = pd.read_csv('data.csv')

newdf = df.dropna()

print(newdf.to_string())

    Rank             Username                  Owner  Followers (millions)                              Profession/Activity    Country/Continent
0      1           @instagram              Instagram                 515.0                            Social media platform        United States
1      2           @cristiano      Cristiano Ronaldo                 450.0                                       Footballer             Portugal
2      3         @kyliejenner           Kylie Jenner                 344.0  Television personality, model and businesswoman        United States
3      4            @leomessi           Lionel Messi                 333.0                                       Footballer            Argentina
4      5         @selenagomez           Selena Gomez                 324.0    Musician, actress, producer and businesswoman        United States
5      6             @therock         Dwayne Johnson                 320.0                  Actor and professional wrestler        United States
6      7       @kimkardashian         Kim Kardashian                 316.0  Television personality, model and businesswoman        United States
7      8        @arianagrande          Ariana Grande                 314.0                             Musician and actress        United States
8      9             @beyonce          Ariana Grande                 261.0              Musician, actress and businesswoman        United States
9     10     @khloekardashian        Khlo Kardashian                 249.0                 Television personality and model        United States
10    11       @kendalljenner         Kendall Jenner                 240.0                 Model and television personality        United States
11    12        @justinbieber          Justin Bieber                 239.0                                         Musician               Canada
12    13              @natgeo    National Geographic                 225.0                                         Magazine        United States
13    14                @nike                   Nike                 221.0                         Sportswear multinational        United States
14    15         @taylorswift           Taylor Swift                 213.0                                         Musician        United States
15    16                 @jlo         Jennifer Lopez                 211.0                             Musician and actress        United States
16    17         @virat.kohli            Virat Kohli                 199.0                                        Cricketer                India
17    18          @nickiminaj            Nicki Minaj                 192.0                                         Musician  Trinidad and Tobago
18    19     @kourtneykardash    Kourtney Kardashian                 182.0                 Television personality and model        United States
19    20            @neymarjr                 Neymar                 175.0                                       Footballer               Brazil
20    21          @mileycyrus            Miley Cyrus                 173.0                             Musician and actress        United States
21    22           @katyperry             Katy Perry                 163.0                                         Musician        United States
22    23      @kevinhart4real             Kevin Hart                 143.0                               Comedian and actor        United States
23    24             @zendaya                Zendaya                 143.0                                          Actress        United States
24    25            @ddlovato            Demi Lovato                 133.0                               Musician and actor        United States
25    26           @iamcardib                Cardi B                 133.0                               Musician and actor        United States
26    27          @badgalriri                Rihanna                 130.0                       Musician and businesswoman             Barbados
27    28           @kingjames           LeBron James                 123.0                                Basketball player        United States
28    29        @theellenshow        Ellen DeGeneres                 121.0              Comedian and television personality        United States
29    30          @realmadrid         Real Madrid CF                 119.0                                    Football club                Spain
30    31       @champagnepapi                  Drake                 112.0                                         Musician               Canada
31    32  @chrisbrownofficial            Chris Brown                 111.0                                         Musician        United States
32    33         @fcbarcelona           FC Barcelona                 109.0                                    Football club                Spain
33    34        @billieeilish          Billie Eilish                 103.0                                         Musician        United States
34    35     @championsleague  UEFA Champions League                  94.5                        Club football competition               Europe
35    36             @dualipa               Dua Lipa                  84.0                                         Musician       United Kingdom
36    37           @gal_gadot              Gal Gadot                  81.7                                          Actress               Israel
37    38           @vindiesel             Vin Diesel                  80.7                                            Actor        United States
38    39      @priyankachopra        Priyanka Chopra                  79.0                             Actress and musician                India
39    40        @lalalalisa_m                   Lisa                  78.3                               Musician and model             Thailand
40    41             @khaby00             Khaby Lame                  78.0                         Social media personality                Italy
41    42                @nasa                   NASA                  77.8                                     Space agency        United States
42    43           @gigihadid             Gigi Hadid                  74.6                                            Model        United States
43    44             @shakira                Shakira                  74.1                                         Musician             Colombia
44    45           @snoopdogg             Snoop Dogg                  73.9                                         Musician        United States
45    46        @davidbeckham          David Beckham                  73.8                         Social media personality       United Kingdom
46    47     @victoriassecret      Victoria's Secret                  72.8                                 Lingerie Company        United States
47    48      @shraddhakapoor        Shraddha Kapoor                  72.8                                          Actress                India
48    49            @k.mbappe           Kylian Mbapp                  71.4                                       Footballer               France
49    50          @nehakakkar            Neha Kakkar                  70.1                                         Musician                India