In [6]:
import numpy as np

In [25]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [26]:
print(type(ds))

<class 'pandas.core.series.Series'>

In [27]:
print(ds.tolist())

[2, 4, 6, 8, 10]

In [28]:
print(type(ds.tolist()))

<class 'list'>

In [29]:
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,9])
ds = ds1 + ds2
print(ds)

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [30]:
ds = ds1 - ds2
ds

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [31]:
ds = ds1 * ds2
ds

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [32]:
ds = ds1 / ds2
ds

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [33]:
print(ds1 == ds2)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [34]:
print(ds1 > ds2)

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [35]:
print(ds1 < ds2)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [36]:
d1 = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800 }
print(d1)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [37]:
new_series = pd.Series(d1)
new_series

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [38]:
np_array = np.array([10,20,30,40,50])
print(np_array)

[10 20 30 40 50]

In [39]:
new_series = pd.Series(np_array)
new_series

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [40]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s1

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [41]:
s2 = pd.to_numeric(s1, errors='coerce')
s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [4]:
import pandas as pd
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(d)
print("Original DataFrame")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [7]:
s1 = pd.Series(['100','200','python','300.12','400'])
print(s1)
a = np.array(s1.values.tolist())
print(a)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
['100' '200' 'python' '300.12' '400']

In [44]:
import pandas as pd
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [45]:
import pandas as pd
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
new_s = pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object